  <!-- Begin Hero -->
<div class="header-wrapper">
  <section class="hero is-fullheight">
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
          </div>
        </div>
      </nav>
    </div>
    <!-- Begin Hero Content-->
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="subtitle">Lubbock</h1>
        <h2 class="title">Table Tennis</h2>
        <!--
        <h1 class="subtitle profession">A UI/UX Designer</h1>
        -->
      </div>
    </div>
    <!-- End Hero Content-->
    <!-- Begin Hero Menu -->
    <div class="hero-foot is-fixed-top">
      <div class="hero-foot--wrapper">
        <div class="columns">
          <div class="column is-12 hero-menu-desktop has-text-centered">
            <ul>
              <li class="is-active"><a href="#home">Home</a></li>
              <li><a href="#meeting-info">Meeting Info</a></li>
              <li><a href="#about-us">About Us</a></li>
              <li><a href="#more">More...</a></li>
              <li><a href="#contact-us">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- End Hero Menu -->
  </section>
  <!-- End Hero -->
</div>