<div class="section-light about-me">
  <div class="container">
    <div class="column is-12 about-me">
      <h1 class="title has-text-centered section-title">Welcome!</h1>
    </div>
    <div class="columns is-multiline is-centered reverse-columns">
      <!--

      <div class="column group-image is-half group-image-container" data-aos="fade-left">
        <img
          class="is-rounded"
          src="assets/group.webp"
          alt=""
        />
      </div>
      -->

      <div class="column is-5">
          <div class="columns is-multiline is-centered">
            <div class="column is-12">
              <!--
              <p class="is-larger">
                <strong></strong>
              </p>
              <br />
              -->
              <p class="indent has-text-justified">
                  Welcome to the Lubbock Table Tennis Club! We're a free, all-skill-levels club that meets three times a week. If you've got an interest in table tennis, come on out!
              </p>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
  