<div class="section-light about-me">
  <div class="container">
    <div class="column is-12 about-me">
      <h1 class="title has-text-centered section-title">Find Out More</h1>
    </div>
    <div class="columns is-multiline is-centered">
      <div class="column max-500px">
        <p class="is-larger">
          &emsp;&emsp;<strong>Facebook Page</strong>
        </p>
        <br />
        <p class="indent has-text-justified">
          Our Facebook page will post updates about upcoming events. Be sure to follow to keep up to date with all
          the latest!
        </p>
        <br>
        <div class="has-text-centered">
          <a href="https://www.facebook.com/Lubbock-Table-Tennis-107170932027170" class="button is-link is-light">
            <span>Follow us on Facebook!</span>
          </a>
        </div>
      </div>
      <div class="column max-500px">
        <p class="is-larger">
          &emsp;&emsp;<strong>Blog</strong>
        </p>
        <br />
        <p class="indent has-text-justified">
            Check out our blog for the latest on what we've been up to. We'll post information about tournaments and any
            other large events we've held there, along with all of our photos!
        </p>
        <br>
        <div class="has-text-centered">
          <a href="https://www.lubbocktabletennis.com" class="button is-link is-light">
            <span>Go to the blog</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
