<div class="section-light about-me">
  <div class="container">
    <div class="column is-12 about-me">
      <h1 class="title has-text-centered section-title">About Us</h1>
    </div>
    <div class="columns is-multiline">
      <div class="column">
        <p class="is-larger">
          &emsp;&emsp;<strong>
              Skill Levels
            </strong>
        </p>
        <br />
        <p class="indent has-text-justified">
            We welcome all skill levels! Our members range in experience and level from 1800+ players to beginners.
            Don't have a paddle or ping pong balls? Don't sweat it! Another member would be happy to lend you their
            second paddle until you feel comfortable enough to buy your own. Don't let that stop you from coming out!
        </p>
      </div>
      <div class="column">
        <p class="is-larger">
          &emsp;&emsp;<strong>
              Club Equipment
            </strong>
        </p>
        <br />
        <p class="indent has-text-justified">
            We have four beautiful tables and members who are always ready to play!
        </p>
      </div>
      <div class="column">
        <p class="is-larger">
          &emsp;&emsp;<strong>
              Meeting Location
            </strong>
        </p>
        <br />
        <p class="indent has-text-justified">
            We meet three times a week at <a href="https://ci.lubbock.tx.us/departments/parks-recreation/recreation/maggie-trejo-supercenter">Maggie Trejo Supercenter</a>
            (see <a href="#meeting-info">Meeting Info</a> above for days and times). Maggie Trejo is a city-owned community recreation center. They provide us with
            a large, high-ceilinged, gymnasium-like space to setup our tables.

        </p>
      </div>
      <!--
      <div class="column is-6 right-image " data-aos="fade-left">
        <img
          class="is-rounded"
          src="assets/meetings.jpeg"
          alt=""
        />
      </div>
      -->
    </div>
  </div>
</div>
  