
<!--
<section class="section">
  <div class="container">
    <h1 class="title">
      Hello World
    </h1>
    <p class="subtitle">
      My first website with <strong>Bulma</strong>!
    </p>
  </div>
</section>
-->


<!-- Begin Preloader -->
<!--
 <div class="preloader-wrapper">
  <div class="preloader">
    <img src="img/preloader.gif" alt="" />
  </div>
</div>
-->
<!-- End Preloader-->

<!-- Begin Scroll Up Button -->
<!--
  <form action="#home">
    <button id="toTop" title="Go to top">
      <i class="fas fa-angle-up"></i>
    </button>
  </form>
-->
<!-- End Scroll Up Button -->

<!-- Begin Header -->
<app-header id="home"></app-header>
<!-- End Header -->

<!-- Begin Main Content -->
<div class="main-content">
  <!-- Begin About Me Section -->
  <app-meeting-info id="meeting-info"></app-meeting-info>
  <!-- End About Me Content -->
  <!--
    <div class="section-dark resume">
      <div class="container">
        <div
          class="columns is-multiline"
          data-aos="fade-in"
          data-aos-easing="linear"
        >
          <div class="column is-12 about-me">
            <h1 class="title has-text-centered section-title">
              View My Resume
            </h1>
          </div>
          <div class="column is-10 has-text-centered is-offset-1">
            <h2 class="subtitle">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et doloremagna aliqua
            </h2>
            <form action="example.docs">
              <button class="button">
                Download Resume&emsp;<i class="fad fa-download fa-lg"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  -->
  <!-- Begin Services Content -->
  <!--

  <div class="section-color services" id="services">
    <div class="container">
      <div class="columns is-multiline">
        <div
          class="column is-12 about-me"
          data-aos="fade-in"
          data-aos-easing="linear"
        >
          <h1 class="title has-text-centered section-title">Services</h1>

          <h2 class="subtitle">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua
          </h2>
          <br />
        </div>
        <div class="columns is-12">
          <div
            class="column is-4 has-text-centered"
            data-aos="fade-in"
            data-aos-easing="linear"
          >
            <i class="fad fa-meteor fa-3x"></i>
            <hr />
            <h2>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              do eiusmod tempor incididunt ut labore et dolore magna aliqua
            </h2>
          </div>
          <div
            class="column is-4 has-text-centered"
            data-aos="fade-in"
            data-aos-easing="linear"
          >
            <i class="fas fa-paint-brush fa-3x"></i>
            <hr />
            <h2>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              do eiusmod tempor incididunt ut labore et dolore magna aliqua
            </h2>
          </div>
          <div
            class="column is-4 has-text-centered"
            data-aos="fade-in"
            data-aos-easing="linear"
          >
            <i class="fas fa-rocket fa-3x"></i>
            <hr />
            <h2>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              do eiusmod tempor incididunt ut labore et dolore magna aliqua
            </h2>
          </div>
        </div>
        <hr />
        <div class="columns is-12">
          <div
            class="column is-4 has-text-centered"
            data-aos="fade-in"
            data-aos-easing="linear"
          >
            <i class="fas fa-upload fa-3x"></i>
            <hr />
            <h2>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              do eiusmod tempor incididunt ut labore et dolore magna aliqua
            </h2>
          </div>
          <div
            class="column is-4 has-text-centered"
            data-aos="fade-in"
            data-aos-easing="linear"
          >
            <i class="fas fa-bus fa-3x"></i>
            <hr />
            <h2>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              do eiusmod tempor incididunt ut labore et dolore magna aliqua
            </h2>
          </div>
          <div
            class="column is-4 has-text-centered"
            data-aos="fade-in"
            data-aos-easing="linear"
          >
            <i class="fas fa-code fa-3x"></i>
            <hr />
            <h2>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              do eiusmod tempor incididunt ut labore et dolore magna aliqua
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  -->
  <!-- End Services Content -->
  <!-- Begin Skills Content -->
  <!--

  <div class="section-light skills" id="skills">
    <div class="container">
      <div class="columns is-multiline">
        <div class="column is-12 about-me">
          <h1 class="title has-text-centered section-title">Skills</h1>
        </div>
        <div
          class="column is-6"
          data-aos="fade-in"
          data-aos-easing="linear"
        >
          <h1>Adobe Experience Design</h1>
          <progress class="progress" value="70" max="100">30%</progress>
          <h1>Adobe After Effects</h1>
          <progress class="progress" value="65" max="100">30%</progress>
          <h1>Visual Studio Code</h1>
          <progress class="progress" value="58" max="100">45%</progress>
          <h1>Sketch</h1>
          <progress class="progress" value="90" max="100">60%</progress>
        </div>
        <div
          class="column is-6"
          data-aos="fade-in"
          data-aos-easing="linear"
        >
          <h1>HTML</h1>
          <progress class="progress" value="85" max="100">30%</progress>
          <h1>CSS</h1>
          <progress class="progress" value="95" max="100">30%</progress>
          <h1>VueJS</h1>
          <progress class="progress" value="70" max="100">45%</progress>
          <h1>React</h1>
          <progress class="progress" value="60" max="100">60%</progress>
        </div>
      </div>
    </div>
  </div>
  -->
  <!-- End Skills Content -->
  <!-- Begin Work Content -->
  <!--

  <div class="section-dark my-work" id="my-work">
    <div class="container">
      <div
        class="columns is-multiline"
        data-aos="fade-in"
        data-aos-easing="linear"
      >
        <div class="column is-12">
          <h1 class="title has-text-centered section-title">My Work</h1>
        </div>
        <div class="column is-3">
          <a href="#">
            <figure
              class="image is-2by1 work-item"
              style="background-image: url('https://picsum.photos/320/180?image=0');"
            ></figure>
          </a>
        </div>
        <div class="column is-3">
          <a href="#">
            <figure
              class="image is-2by1 work-item"
              style="background-image: url('https://picsum.photos/320/180?image=10');"
            ></figure>
          </a>
        </div>
        <div class="column is-3">
          <a href="#">
            <figure
              class="image is-2by1 work-item"
              style="background-image: url('https://picsum.photos/320/180?image=20');"
            ></figure>
          </a>
        </div>
        <div class="column is-3">
          <a href="#">
            <figure
              class="image is-2by1 work-item"
              style="background-image: url('https://picsum.photos/320/180?image=30');"
            ></figure>
          </a>
        </div>
        <div class="column is-3">
          <a href="#">
            <figure
              class="image is-2by1 work-item"
              style="background-image: url('https://picsum.photos/320/180?image=40');"
            ></figure>
          </a>
        </div>
        <div class="column is-3">
          <a href="#">
            <figure
              class="image is-2by1 work-item"
              style="background-image: url('https://picsum.photos/320/180?image=50');"
            ></figure>
          </a>
        </div>
        <div class="column is-3">
          <a href="#">
            <figure
              class="image is-2by1 work-item"
              style="background-image: url('https://picsum.photos/320/180?image=60');"
            ></figure>
          </a>
        </div>
        <div class="column is-3">
          <a href="#">
            <figure
              class="image is-2by1 work-item"
              style="background-image: url('https://picsum.photos/320/180?image=70');"
            ></figure>
          </a>
        </div>
      </div>
    </div>
  </div>
  -->
  <!-- End Work Content -->
  <!-- Begin Contact Content -->
  <app-contact-us></app-contact-us>
  <!-- End Contact Content -->
</div>
<!-- End Main Content -->

<!-- Begin Footer -->
<div class="footer">
  <p>
    <!--
      <strong class="white">Lubbock Table Tennis</strong>
    -->
    This website's content is licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.     
  </p>
</div>
<!-- End Footer -->

<!-- Scripts -->
<!--

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="../js/showcase.js"></script>
<link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
-->
<script>
  AOS.init({
    easing: "ease-out",
    duration: 800,
  });
</script>