<div class="section-light contact">
  <div class="container">
    <div class="column is-12 about-me">
      <h1 class="title has-text-centered section-title">Join the gang</h1>
    </div>
    <div class="columns is-multiline is-mobile is-centered">
      <div class="column has-vertically-aligned-content is-narrow has-text-centered">
          <p class="is-larger">
            &emsp;&emsp;<strong>
              Questions? Just want to chat?
              </strong>
          </p>
          <br />
          <a href="https://chat.whatsapp.com/GbdXbupobLTHxSVS1nsx56" class="button is-link is-medium">
            <span class="icon">
              <mat-icon aria-hidden="false" aria-label="Example home icon">whatsapp</mat-icon>
            </span>
            <span>Join our WhatsApp!</span>
          </a>
      </div>
    </div>
  </div>