<div class="section-light about-me">
  <div class="container">
    <div class="column is-12 about-me">
      <h1 class="title has-text-centered section-title">Meeting Info</h1>
    </div>
    <div class="columns is-multiline">
      <div
        class="column is-6 has-vertically-aligned-content"
        data-aos="fade-right">
        <!--
          <p class="is-larger">
            &emsp;&emsp;<strong>

              </strong>
          </p>
          <br />
        -->
        <p>
            The club meets at <a href="https://ci.lubbock.tx.us/departments/parks-recreation/recreation/maggie-trejo-supercenter">Maggie Trejo Supercenter</a>
            at 3200 Amherst St, Lubbock, TX 79415 (<a href="https://maps.apple.com/?q=3200+Amherst+St+Lubbock+TX+79415">Get directions</a>).
            We meet for the following days and corresponding times:
        </p>
        <br />
        <div class="is-divider"></div>
        <div class="columns about-links is-mobile is-centered">
          <div class="column is-narrow">
            <p class="heading">
              <strong>Day</strong>
            </p>
            <p class="subheading">
              Monday<br>
              Wednesday<br>
              Saturday
            </p>
          </div>
          <div class="column is-narrow">
            <p class="heading">
              <strong>Time</strong>
            </p>
            <p class="subheading">
              5:30PM - 7:30PM<br>
              5:30PM - 7:30PM<br>
              9:00AM - 1:00PM
            </p>
          </div>
        </div>
      </div>
      <div class="column is-6 right-image " data-aos="fade-left">
        <img
          class="is-rounded"
          src="assets/meetings.jpeg"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
